body{background-color: #e4e4e4; width: 100%;} .flex{display:flex; justify-content: space-around;}
                .d-block{display:block;} .elem{height:20px; padding: 1px; text-align: center; margin: 16px 0;}
